body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#VELOCITY_POINTS,
#VELOCITY_HOURS,
#VELOCITY_DAYS,
#ITERATION_LENGTH {
  display: inline-block;
  margin-right: 10px;
}

.App {
  /* text-align: center; */
  padding: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
}
