.repeating-form-field {
  margin-bottom: 20px;
  margin-top: 20px;
}

.repeating-form-field > .label {
  color: #6b778c;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333333333;
}

.repeating-form-field .no-items {
  display: inline-block;
  margin: 10px 0;
  color: #aaa;
  font-style: italic;
}
